# Misc
mypy
autopep8
black
pytest-cov
pytest-mock
flake8
flake8-docstrings
flake8-bandit
flake8-bugbear
flake8-deprecated
flake8-executable
flake8-black
pylint

# Libraries
tensorflow-macos
Pillow
pytest
matplotlib